
    /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    left:auto;
    right:-1px;
    top:auto;
    border-color: transparent;
    border: 10px;
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content1 {
    left:auto;
    right:-1px;
    top:auto;
    border-color: transparent;
    border: 10px;
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content1 {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* Links inside the dropdown */
.dropdown-content a {
    top: 10px;
    color: black;
    border-radius: 10px;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content1 a {
    top: 10px;
    color: black;
    border-radius: 10px;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    border-radius: 10px;
    background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

